pip install PyQt5
pip install Pillow
pip install numpy
pip install requests
pip install paddlepaddle
pip install paddleocr
pip install PyQt5
pip install numpy
pip install pyqtgraph
pip install requests

OR

python -m pip install PyQt5
python -m pip install Pillow
python -m pip install numpy
python -m pip install requests
python -m pip install paddlepaddle
python -m pip install paddleocr
python -m pip install PyQt5
python -m pip install numpy
python -m pip install pyqtgraph
python -m pip install requests